<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:p="http://www.springframework.org/schema/p"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd">

 <bean name="emp1" class="com.examples.S01SpringCoreApp.Employee">
  <property name="id">
  	<value>01</value>
  </property>
  <property name="name">
  	<value>Emma</value>
  </property>
 </bean>
 
 <bean name="emp2" class="com.examples.S01SpringCoreApp.Employee">
 	<property name="id" value="02" />
  	<property name="name" value="James" />
</bean>

<bean name="emp3" class="com.examples.S01SpringCoreApp.Employee" p:id="03" p:name="Sirius">
</bean>

<bean name="emp4" class="com.examples.S01SpringCoreApp.Employee" p:id="04" p:name="Remus">
	<property name="departments">
		<list>
			<value>HR</value>
			<value>Admin</value>
			<value>Sales</value>
		</list>
	</property>
</bean>

<bean name="emp5" class="com.examples.S01SpringCoreApp.Employee" p:id="05" p:name="Arthur">
	<property name="products">
		<map>
			<entry key="100" value="Laptop"/>
			<entry key="200" value="Phone"/>
			<entry key="300" value="Tv"/>
		</map>
	</property>
</bean>

<bean name="emp6" class="com.examples.S01SpringCoreApp.Employee" p:id="06" p:name="Regulus">
	<property name="CountriesLanguages">
		<props>
			<prop key="USA"> English </prop>
			<prop key="Germany"> German </prop>
			<prop key="France"> French </prop>
		</props>
	</property>
</bean>

<bean name="address1" class="com.examples.S01SpringCoreApp.Address" p:city="Mumbai" p:state="Maharashtra" p:pincode="577122" />

<bean name="emp7" class="com.examples.S01SpringCoreApp.Employee" p:id="07" p:name="Luna">
	<property name="address">
		<ref bean="address1"/>
	</property>
	</bean>
</beans>

